.container-galleries
  margin-bottom: 50px
  text-align: center
  .row
    .col-xs-12
      display: flex
      align-items: center
      justify-content: center
      a
        display: flex
        align-items: center
        justify-content: center
        &:hover
          span
            color: $whitef5
        span
          font-size: .8rem
          margin-right: 5px
          color: $redDark



.galleries
  margin: 30px 0 50px
