.carousel-inner
  overflow: hidden
  height: 42vw
  .item
    margin-top: -3.5%
    // transform: translate(0px, 0px)
    transition: all 0s linear

// .banner
//   position: relative
//   // width: 100%
//   height: 42vw
//   // left: 5%
//   // top: 0px
//   overflow: hidden
//   margin: 0px 0 0
//   .banner-img
//     width: 100%
//     position: absolute
//     left: 0px
//     top: 0px
//     transform: translate(0px, 0px)
//     transition: all 0s linear
//     // img
//     //   width: 100%
//     //   height: auto
//     //   margin-top: -6vw
//     //   display: block

// @media (min-width: 1200px)

@media (max-width: 1002px)
  .carousel-inner
    .item
      margin-top: -5%
@media (max-width: 767px)
  .carousel-inner
    height: 100%
    .item
      margin-top: 0%
