@import "_banner"

@import "_spot-feed"

.gal
  div
    a
      text-decoration: none
      img
        filter: opacity(.8)
        transition: filter .2s ease-in-out
        &:hover
          filter: opacity(1)
