footer
  .social-media
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    border-top: 2px solid $footerBgGray
    height: 50px
    .sm-title
      font-size: 1.2rem
    .sm-container
      display: flex
      width: 30%
      font-size: 1.8rem
      justify-content: space-around
      a
        text-decoration: none
        color: inherit
        transition: all .2s ease-in-out
        &:focus
          text-decoration: none
          color: inherit
        &:hover
          color: $orange

.copyright
  display: flex
  justify-content: center
  flex: 0 0 300px
  width: auto
  background-color: $footerBgGray
  color: $footerLetterColor
  padding: 20px 0
