.navbar-travel-container
  display: flex
  // justify-content: space-between

.tpage-title
  margin-left: auto
  margin-right: auto


.ttitle-section
  margin-top: 5rem
  margin-bottom: 6rem
  .title
    .text-center
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      h2
        margin-bottom: 0
        border-bottom: 2px solid $footerBgGray
        width: 26rem

.font-italic
  font-style: italic

.tinfo-section
  margin: 5rem 0
  .row-description
    .description
      display: flex
      align-items: flex-end
      flex-direction: column
      p
        width: 70%
        line-height: 1.8
    .figure
      figure
        width: 70%
        img

.tphotos-section
  margin-bottom: 8rem
  figure
    margin-bottom: 30px

.tcontact-section
  margin-bottom: 8rem

  .contact-text
    margin-top: 3rem
    div
      font-size: 1.2rem
      text-align: center
      p

      span

        a
          color: $redDark
          // border-bottom: 2px solid $redDark
          font-style: italic

.tform-section
  margin-bottom: 6rem


@media (max-width: 991px)
  .tinfo-section
    .row-description
      .description
        align-items: center
      .figure
        margin-top: 3rem
        figure
          margin-left: auto
          margin-right: auto
