.index-gallery-container
  display: flex
  flex-direction: column
  h2
    margin: 12px 0

  .index-gallery
    display: flex
    flex-flow: column
    div
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      .index-gallery-item
        display: flex
        flex-flow: column wrap
        justify-content: space-around
        width: 32%
        .gallery-link
          display: block
          width: 100%
          height: 80%
        .index-gallery-description
          display: flex
          justify-content: space-between
          .link-hover
            border-bottom: 1px solid transparent
  .more-button-end-gallery
    display: flex
    align-self: center
    width: 50%
    .more-button
      display: flex
      justify-content: center
      width: 100%

.index-gallery-filler
  flex: .2 1 320px
  height: 0
  border: 0
  margin: 0 15px

// mobile
.index-gallery-container
  .index-gallery-mobile
    display: none
    flex-flow: column
    margin: 10px 0
    height: 85vw
    transition: height .2s ease-in-out
    .index-gallery-item
      margin: 20px 0
      .index-gallery-description
        margin: 10px 0 0
      &:nth-of-type(n+2)
        display: none
        transition: display .2s ease-in-out
  div.open, div.close
    align-self: center
    justify-content: center
    width: 100px
    margin-bottom: 0px


@media (min-width: 992px)
  .index-gallery-container
    .index-gallery
      .index-gallery-item
        width: 32%

@media (max-width: 746px)
  .index-gallery-container
    .index-gallery
      .index-gallery-item
        width: 47%

@media (max-width: 543px)
  .index-gallery-container
    .index-gallery
      display: none
    .index-gallery-mobile
      display: flex
      flex-flow: column
