.insta-feed-container
  flex: 0 0 448px
  // height: 100%
  // background-color: pink
  display: flex
  flex-direction: column
  margin-top: 35px
  .aside-wrapper
    display: flex
    flex-direction: column
    // flex: 1 1 0px
    .feed-title
      text-align: center
    .insta-feed
      display: flex
      flex-wrap: wrap
      justify-content: center
      a
        width: 210px
        height: 164px
        margin: 0 5px 10px
        img
          width: 100%
          height: 100%


@media (max-width: 1290px)
  .insta-feed-container
    flex: 0 0 420px
    .aside-wrapper
      .insta-feed
        a
          width: 200px
          height: 154px
          margin: 0 5px 10px



@media (max-width: 1090px)
  .insta-feed-container
    // height: 100px
    flex: 0 0 350px
    margin: 10px 0
