.wrapper-body-index
  display: flex
  // justify-content: space-between
  flex-direction: column

@import "_main"

@import "_banner"

@import "_index-spotlight"

@import "_index-aside"

// media queries----------------
@media (max-width: 1366px)
  body
    // background: transparent
// @media (min-width: 1367px)


@media (max-width: 1090px)
  .wrapper-body-index
    flex-direction: column
    justify-content: center
  .main
    margin-right: 0
    flex-direction: column
