.gallery
  margin: 35px 0 100px

.gallery-container
  position: relative
  display: flex
  // justify-content: space-between
  flex-wrap: wrap
  .gallery-item
    height: 261px
    margin: 5px 5px
    img
      height: 100%
      width: auto
      border-radius: 4px
      cursor: pointer
    figcaption
      display: none

.filler-item
  height: 0
  width: auto

.gallery-back-button
  a
    text-decoration: none
    color: inherit
    i
      margin-right: 10px


// preview
.preview
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: calc(100vh + 15px)
  display: flex
  background-color: rgba(0, 0, 0, 1)
  .close-preview
    position: absolute
    top: 4%
    right: 2%
    cursor: pointer
    z-index: 3
    i
      font-size: 3rem
      color: $orangeLight
  .left-nav,
  .right-nav
    width: 10%
    height: calc(100vh + 15px)
    display: flex
    justify-content: center
    align-items: center
    cursor: default
    z-index: 2
    display: none
    i
      font-size: 3rem
      color: $orangeLight
      display: none
  .left-nav-sup,
  .right-nav-sup
    width: 10%
    height: calc(100vh + 15px)
    display: flex
  .picture
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin: -1% 0
      figure
        display: block
        width: 100%
        position: relative
        height: 0
        padding: 41.25% 0 0 0
        overflow: hidden
        margin: 0
        margin-top: 15px
  .fig-caption
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: auto
    font-size: 1rem
    color: #f7f7f7
    padding: 0 5%
    text-align: justify
    margin-top: 15px
@media (max-width : 543px)
    .left-nav,
    .right-nav
      position: absolute
    .right-nav
      right: 0
    .left-nav-sup,
    .right-nav-sup
      position: absolute
    .right-nav-sup
      right: 0
// end preview


@media (max-width: 543px)
  .gallery-container
    flex-direction: column
    margin: 30px -.5rem 50px

  .gallery-container-left,
  .gallery-container-center,
  .gallery-container-right
    padding: 0 .5rem
    width: 100%
